body {
  background-color: #000000;
  /* Color de fondo oscuro */
  font-family: Arial, sans-serif;
  /* Tipo de letra serio y formal */

}

.container {
  background-color: #ffffff00;
  /* Color de fondo del contenedor */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  /* Sombra elegante */

}


h2 {
  text-align: center;
  color: #fff;
  /* Color de texto blanco */
}

.form-control {
  background-color: #444;
  /* Color de fondo del campo de entrada */
  border: 1px solid #555;
  /* Borde del campo de entrada */
  border-radius: 3px;
  color: #fff;
  /* Color de texto blanco */
}

.btn-primary {
  background-color: #007bff;
  /* Color de fondo del botón */
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
  /* Color de fondo del botón al pasar el mouse */
}

.card {
  height: 200px;
  /* Altura constante de las tarjetas */
}

.card-text {
  /* Utiliza toda la altura disponible */
  overflow: hidden;
  text-overflow: ellipsis;
  /* Añade tres puntos suspensivos al final del texto */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Número de líneas a mostrar antes de truncar */
  -webkit-box-orient: vertical;
}
